/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Oct-2014, 08:28:26
    Author     : Adeyemi
*/

#logout-form{
    display: inline-block;
    margin:0;
    padding:0;
    margin-top: -10px;
}

#logout-form .btn-link{
    padding: 0;
    margin-top: -3px !important;
    margin:0;
    color: #707070;
    font-size: 0.875em;
}